{% load static %}

<header>
    <nav class="navbar">
        <div class="container">
            <!-- Logo -->
            
            <h2 class="logo">dj<span>.Rupesh</span></h2>
            <!-- Navigation Links -->
            <ul class="nav-links">
                
                <li><a href="{% url 'home' %}">🏠Home</a></li>
                <li><a href="{% url 'about' %}">👪About</a></li>
                <li><a href="{% url 'contact' %}">📞Contact</a></li>
                <!-- Add more links if needed -->
            </ul>

            
        </div>
    </nav>
</header>
