\/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* BODY */
body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    min-height: 100vh;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(0, 0, 0, 0.4);
}

.logo {
    font-size: 24px;
}

.logo span {
    color: #00d9ff;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #00d9ff;
}

/* HERO SECTION */
.hero {
    height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #d6f4ff;
}

/* BUTTON */
.btn {
    text-decoration: none;
    padding: 12px 30px;
    background: #00d9ff;
    color: black;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    background: white;
    transform: scale(1.05);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: rgba(0, 0, 0, 0.4);
    font-size: 14px;
}
