/* ===== GLOBAL STYLES ===== */
* {
    
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* ===== NAVBAR / HEADER ===== */
.navbar {
    background-color: #1e1e8f; /* Deep Blue */
    color: #5686d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem 0rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .logo {
    font-size: 2rem;
    font-weight: bold;
}

.navbar .logo span {
    color: #ffcc00; /* Highlight color */
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 2rem;
    
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    transition: color 0.3s;
    font-size: 1.5rem;

    
}

.navbar ul li a:hover {
    color: #5fe6e6;
    font-size: 1.7rem;
}

/* ===== PAGE CONTENT ===== */
section {
    padding: 2.5rem 2rem;
}

section h1 {
    font-size: 2.5rem;
    color: #bbbbd1;
    margin-bottom: 1rem;
    text-align: center;
}

section p {
    max-width: 800px;
    margin: 0.5rem auto;
    font-size: 1.1rem;
    text-align: center;
}

/* ===== FOOTER ===== */
footer {
    background-color: #1e1e8f;
    color: #fff;
    text-align: center;
    padding: 1.5rem 1.5rem;

    margin-top: auto; /* 🔥 THIS fixes it */
}


footer p {
    font-size: 1rem;
    margin-bottom: 0;
    padding: 0;
}


